/* media de tablet */
@media (max-width: $tablet) {
  .comoTrabajamos {
    flex-direction: column-reverse;
    gap: 0px;
    .textoTrabajamos {
      margin-top: 50px;
      margin-left: 5%;
      margin-right: 5%;
    }
    img {
      margin: 0;
      align-self: center;
    }
  }

  .quienEres {
    h2 {
      margin: 30px 0px 10px 40px;
    }
  }

  /* Estilo Contacto */
  .ubicacionContactoMio {
    display: flex;
    img {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
